body{
  height: 400px;
  width: 600px;
  --playTrackName: paused;
  --trackPadding: 0%;
}

.background{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: linear-gradient(123.36deg, #FFB930 0.38%, rgba(255, 255, 255, 0) 100%), #D81D55;
}

.grey-back{
  position: absolute;
  left: 7.83%;
  right: 7.83%;
  top: 7.5%;
  bottom: 37.25%;
  background: rgba(0, 0, 0, 0.08);
}

.cover{
  position: absolute;
  left: 16px;
  top: 11px;
  cursor: pointer;
}

.trackname{
  position: absolute;
  left: 34.5%;
  right: 4.33%;
  top: 11.25%;
  bottom: 77.25%;

  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 24px;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;

  background: #1E2457;
}

.trackname p {
  padding-left: var(--trackPadding);
  font-family: Impact;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  animation: marquee 10s linear infinite;
  animation-play-state: var(--playTrackName);
}
@keyframes marquee {
  0% { transform: translate(0,0);}
  30% { transform: translate(-352px);}
  50% { transform: translate(-352px);}
  100% { transform: translate(-100%,0);}
}

.artist{
  position: absolute;
  left: 53.83%;
  right: 9.83%;
  top: 20.75%;
  bottom: 71.75%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #FFFFFF;
}

.artist p {
  font-family: Impact;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #1E2457;
}

.genres{
  position: absolute;
  left: 38.33%;
  right: 13.83%;
  top: 26.75%;
  bottom: 63.5%;

  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;

  background: rgba(0, 0, 0, 0.08);

}

.genres p {
  font-family: Impact;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gradient {
  position: absolute;
  width: 24px;
  height: 47.84px;
  left: 34.5%;
  top: 11.25%;

  background: linear-gradient(270deg, #FFFFFF -6.9%, rgba(30, 36, 87, 0.56) -6.89%, #1E2457 20.16%);
}

.gradient2 {
  position: absolute;
  width: 21px;
  height: 46px;
  right: 4.33%;
  top: 11.25%;

  background: linear-gradient(270deg, #FFFFFF -6.9%, rgba(30, 36, 87, 0.56) -6.89%, #1E2457 36.84%);
  transform: rotate(180deg);
}

.day {
  position: absolute;
  width: 100px;
  height: 29px;
  left: 272px;
  top: 157px;

  font-family: Advent Pro;
  font-style: normal;
  font-weight: 200;
  font-size: 43px;
  line-height: 51px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #1E2457;
}

.month {
  position: absolute;
  width: 147px;
  height: 46px;
  left: 236px;
  top: 185px;
  display: flex;
  align-items: center;

}

.month p {
  width: 147px;
  font-family: Advent Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 8vw;
  line-height: 77px;
  text-align: center;
  color: #1E2457;
}

.year {
  position: absolute;
  width: 170px;
  height: 75px;
  left: 383px;
  top: 157px;

  font-family: Advent Pro;
  font-style: normal;
  font-weight: 200;
  font-size: 100px;
  line-height: 120px;
  display: flex;
  align-items: center;

  color: #1E2457;
}
